.footer {
    background: var(--hkbp-blue);
    padding: 40px;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    border-top: 4px solid var(--hkbp-gold);
}

.footer-text {
    font-size: 14px;
}

.footer-gold {
    color: var(--hkbp-gold);
    font-weight: bold;
}

.footer-contact-info {
    color: rgba(255, 255, 255, 0.9);
    transition: color 0.3s ease;
}

.footer-contact-info a {
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
    transition: color 0.3s;
    border-radius : 15px;
    padding : 10px;
    font-size : 26px;
}

.footer-contact-info a:hover {
    color: var(--hkbp-gold);
}

.footer-contact-info a:focus {
    outline: 3px solid var(--hkbp-gold);
    outline-offset: 3px;
}
